<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-home">
  <template>
    <style include="shared-styles">
      @media screen and (max-width: 640px) {
				.q {
				position: absolute;
				float: center;
				padding-left: 15px;
				padding-right: 15px;
				width: 100%;
				margin-left: 0;
				}				
      }

      ::-webkit-scrollbar-thumb{
        background: #dcdcdc;
        width: 10px;
        border-radius: 7px;
      }

      ::-webkit-scrollbar-thumb:hover{
        background: #adadad;
        width: 10px;
        border-radius: 20px;
      }

      ::-webkit-scrollbar{
        display: block;
      }

      :host {
        display: block;
        overflow-y: auto;
        padding: 10px;
        padding-left: 16px;
      }

      html{
        overflow: scroll;
        overflow-x: hidden;
      }

      .flex {
        @apply --layout-horizontal;
        display: flex;
        margin: 0px;
        justify-content: left; /* justify-content: center; */
        flex-wrap: wrap;    
      }

      .flexchild {
        @apply --layout-flex;
        padding-left: 24px;
      }

      iron-image {      
        border-radius: 50%;
      }

      iron-list {
        height: 25vh; /* don't use % values unless the parent element is sized. */
        flex: 1 1 auto;     
      }

      .iron-list-trending{
        height: 30vh; /* don't use % values unless the parent element is sized. */
      }    

      .iron-list-influencer{
        height: 36vh;
      }  

      paper-tabs {
        font-family: 'Roboto', 'Noto', sans-serif;
        -webkit-font-smoothing: antialiased;
        width: 100%;
        /* text-transform: uppercase; */
        margin-bottom: 16px;
        background: #009688;
        color: white;
      }

      @keyframes slide {
        from { left: -70%; }
        to { left: 0; }
      }

      /* Adding this class starts the animation, removing it cuts it short */
      .animated {
        animation-duration: 1s;
        animation-name: slide;
      }

      google-chart {
        height: 350px;
        width: 350px;
        margin-top: 64px;
        padding: 0px;
      }
    </style>

    <iron-ajax auto
      url="https://api.ebdesk.com/kominfo/top_influencer/13233"
      params='{"sdate":"20180701",
              "edate":"20180705",
              "start":"0",
              "limit":"10"}'
      headers='{
        "Authorization" : "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXNzd29yZCI6ImFwaWtvbWluZm8iLCJ1c2VyIjoia29taW5mbyIsImV4cCI6MTU2MjQwNDExNy45ODM0NzV9.3IHdkXAHQWmUOOsoK2D6e9SX8Yxmp1C8aPuKl1YJ7B8"
      }'
      content-type="text/plain"
      handleAs="json"
      method="GET"
      debounce-duration="300"
      last-response="{{resultinfluencer}}"></iron-ajax>

    <iron-ajax auto
      url="https://api.ebdesk.com/kominfo/top_issue/tvnews/13233"
      params='{"sdate":"20180701",
              "edate":"20180705",
              "sample":100}'
      headers='{
        "Authorization" : "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXNzd29yZCI6ImFwaWtvbWluZm8iLCJ1c2VyIjoia29taW5mbyIsImV4cCI6MTU2MjQwNDExNy45ODM0NzV9.3IHdkXAHQWmUOOsoK2D6e9SX8Yxmp1C8aPuKl1YJ7B8"
      }'
      content-type="text/plain"
      handleAs="json"
      method="GET"
      debounce-duration="300"
      last-response="{{datatopisu}}"></iron-ajax>

      <iron-ajax auto
      url="https://api.ebdesk.com/kominfo/top_issue/twitter/13233"
      params='{"sdate":"20180701",
              "edate":"20180705",
              "sample":100}'
      headers='{
        "Authorization" : "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXNzd29yZCI6ImFwaWtvbWluZm8iLCJ1c2VyIjoia29taW5mbyIsImV4cCI6MTU2MjQwNDExNy45ODM0NzV9.3IHdkXAHQWmUOOsoK2D6e9SX8Yxmp1C8aPuKl1YJ7B8"
      }'
      content-type="text/plain"
      handleAs="json"
      method="GET"
      debounce-duration="300"
      last-response="{{datatopsocial}}"></iron-ajax>

      <iron-ajax auto
      url="https://api.ebdesk.com/kominfo/top_organization/13233"
      params='{"sdate":"20180701",
              "edate":"20180705",
              "start":"0",
              "limit":"10"}'
      headers='{
        "Authorization" : "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXNzd29yZCI6ImFwaWtvbWluZm8iLCJ1c2VyIjoia29taW5mbyIsImV4cCI6MTU2MjQwNDExNy45ODM0NzV9.3IHdkXAHQWmUOOsoK2D6e9SX8Yxmp1C8aPuKl1YJ7B8"
      }'
      content-type="text/plain"
      handleAs="json"
      method="GET"
      debounce-duration="300"
      last-response="{{datatopinstansi}}"></iron-ajax>
    <!-- <iron-ajax
      id="getSurveyAjax"
      auto
      url="https://polling-pilkada.herokuapp.com/polls"
      method="get"
      handle-as="json"
      last-response="{{result}}">
    </iron-ajax> -->

    <iron-ajax url="contacts.json" last-response="{{data}}" auto></iron-ajax>

    <iron-ajax url="topinfluencer.json" last-response="{{result}}" auto></iron-ajax>

    <iron-ajax url="issues.json" last-response="{{dataisu}}" auto></iron-ajax>

    <iron-ajax url="program.json" last-response="{{dataprogram}}" auto></iron-ajax>

    <iron-ajax url="narasi.json" last-response="{{datanarasi}}" auto></iron-ajax>

    <div class="card" style="padding-left: 16px; margin: 0px;">
        <!-- <paper-toast id="toastAlert" hide></paper-toast> -->

        <div class="container flex">
          <div>
            <div class="card" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 16pt;
              margin-right: 16px; min-height: 400px;">
              <h1 style="padding: 16px;"><font color="#505050" size="6px">Trending Isu Media</font></h1>
  
              <iron-list items="[[datatopisu.data.groups]]" as="item" class="iron-list-trending" style="padding: 16px;">
                  <template>
                      <font color="black" size="3pt">#[[item.issue]]</font>
                  </template>
              </iron-list>
              <hr><br>
              <font size="3pt" color="black" style="padding-left: 10pt;"><a href="" style="text-decoration: none; color: black;">MORE INFO..</a></font>
            </div>
          </div>
  
          <div>
              <div class="card" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 16pt;
              margin-right: 16px; width: 300px; min-height: 400px;">
              <h1 style="padding-top: 16px; padding-left: 16px; padding-right: 16px;"><font color="#505050" size="6px">Trending Sosial Media</font></h1>
  
              <iron-list items="[[datatopsocial.data.groups]]" as="item" class="iron-list-trending" style="padding-left: 16pt; padding-right: 16pt;width: wrap;">
                  <template>
                      <font color="black" size="3pt">[[item.issue]]</font><br>
                  </template>
                  
              </iron-list>
              <hr><br>
              <font size="3pt" color="black" style="padding-left: 10pt;"><a href="" style="text-decoration: none; color: black;">MORE INFO..</a></font>
            </div>
          </div>

          <div>
              <div class="card" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 16pt;
                margin-right: 16px; min-height: 400px;">
                <h1 style="padding: 16px;"><font color="#505050" size="6px">Top Instansi</font></h1>
    
                <iron-list items="[[datatopinstansi.data.docs]]" as="item" class="iron-list-trending" style="padding: 16px;">
                    <template>
                        <font color="black" size="3pt">[[item.name]]</font>
                    </template>
                </iron-list>
                <hr><br>
                <font size="3pt" color="black" style="padding-left: 10pt;"><a href="" style="text-decoration: none; color: black;">MORE INFO..</a></font>
              </div>
          </div>
            
          <div style="width: 300px; min-height: 400px;">
            <div class="card" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 16pt; min-height: 400px;">
                <h1 style="padding-left: 16px; padding-right: 16px; padding-top: 16px; padding-bottom: 10px;"><font color="#505050" size="6pt">Top Influencer</font></h1>
                <iron-list id="listInfluencer" class="iron-list-influencer" items="[[result.data.docs]]" as="item" selection-enabled>
                  <template>
                    <paper-item style="padding-bottom: 0px; padding-top: 7px;">
                        <paper-item-body>
                          <iron-image style="width:50px; height:50px; margin-right: 10pt;" sizing="contain" 
                            src="../[[item.img]]"></iron-image>
                        </paper-item-body>
                          
                        <paper-item-body>
                          <font size="4pt">[[item.name]]</font>
                        </paper-item-body>
                    </paper-item>
                  </template> 
                </iron-list>
                <hr><br>
                <font size="3pt" color="black" style="padding-left: 10pt;"><a href="" style="text-decoration: none; color: black;">MORE INFO..</a></font>
            </div>
          </div>
        </div>

        <div class="container flex" style="margin-top: 32px;">
            <div style="width: 240px; margin-right: 48px;">
                <font color="#4caf50" size="48px">10</font><font size="5pt" style="margin-left: 5px;">Kegiatan Minggu Ini</font><br>
                <d3-progress-meter stroke-width="10" id="progressMeter" radius="90" percentage$="{{percentValue}}" max="100" current-text$="{{textPercent}}" style="margin-top: 24px; margin-left: 32px;"></d3-progress-meter>
            </div>
            <div class="flexchild" style="margin-bottom: 64px; margin-right: 32px;">
                <font size="7pt" style="margin-left: 0px;">Agenda Desiminasi</font>
                <paper-tabs selected="{{selected}}" style="margin-top: 16px;">
                    <paper-tab>Program Prioritas</paper-tab>
                    <paper-tab>Isu Tematik</paper-tab>
                    <paper-tab>Narasi Tunggal</paper-tab>
                </paper-tabs>

                <iron-pages selected="{{selected}}" id="pages">
                    <div>
                        <paper-item role="listitem" style="padding-bottom: 8px;">
                    
                            <paper-item-body three-line style="width: 220px; text-align: center;">
                              <div><font size="4pt" style="text-align: center;">Tema</font></div>
                              <!-- <div secondary><font color="black" size="2pt">PIC : [[item.name]]</font></div> -->
                              <!-- <div third><font size="2pt">Tingkat Urgensi : </font><font color="black" size="2pt">Penting</font></div> -->
                            </paper-item-body>
                    
                            <paper-item-body style="width: 200px; text-align: center;">
                                <div><font size="4pt">Prioritas</font></div>
                            </paper-item-body>

                            <paper-item-body two-line style="width: 110px; text-align: center;">
                                <div><font size="4pt">Tanggal</font></div>
                            </paper-item-body>
                        </paper-item>

                        <iron-list id="listData" items="[[dataprogram]]" as="item" on-click="onItemSelected" selection-enabled>
                          <template>
                              <paper-item value="[[item]]" id="itemIsu" role="listitem" style="padding-bottom: 8px;">
                                  <paper-item-body>
                                    <div class="circle" style="margin-right: 16px; width: 50px; height: 50px;"></div>
                                  </paper-item-body>
                          
                                  <paper-item-body three-line style="width: 200px;">
                                    <div><font color="black" size="4pt">[[item.name]]</font></div>
                                    <!-- <div secondary><font color="black" size="2pt">PIC : [[item.name]]</font></div> -->
                                    <!-- <div third><font size="2pt">Tingkat Urgensi : </font><font color="black" size="2pt">Penting</font></div> -->
                                  </paper-item-body>
                          
                                  <paper-item-body style="width: 110px; text-align: center;">
                                    <div><font color="#f44336" size="4pt">[[item.publish]]</font></div>
                                  </paper-item-body>
                          
                                  
                                  <paper-item-body style="width: 200px; text-align: center;">
                                      <div><font color="black" size="4pt">[[item.date]]</font></div>
                                  </paper-item-body>
                                  
                                  
                              </paper-item>
                          </template>
                        </iron-list>
                    </div>

                    <div>

                        <paper-item role="listitem" style="padding-bottom: 8px;">
                    
                            <paper-item-body three-line style="width: 220px; text-align: center; margin-right: 72px;">
                              <div><font size="4pt" style="text-align: center;">Tema</font></div>
                              <!-- <div secondary><font color="black" size="2pt">PIC : [[item.name]]</font></div> -->
                              <!-- <div third><font size="2pt">Tingkat Urgensi : </font><font color="black" size="2pt">Penting</font></div> -->
                            </paper-item-body>
                    
                            <paper-item-body style="width: wrap; text-align: center; margin-right: 72px;">
                                <div><font size="4pt">Prioritas</font></div>
                            </paper-item-body>

                            <paper-item-body two-line style="width: 100px; text-align: center;">
                                <div><font size="4pt">Tanggal</font></div>
                              </paper-item-body>
                        </paper-item>

                      <iron-list id="listDataIssue" items="[[dataisu.data.data]]" as="item" on-click="onItemSelected" selection-enabled>
                        <template>
                            <paper-item id="itemIsu" value="[[item]]" role="listitem" style="padding-bottom: 8px;">
                                <paper-item-body>
                                  <div class="circle" style="margin-right: 16px; width: 50px; height: 50px;"></div>
                                </paper-item-body>
                        
                                <paper-item-body three-line style="width: 200px;">
                                  <div><font color="black" size="4pt">[[item.t_displayName]]</font></div>
                                  <!-- <div secondary><font color="black" size="2pt">PIC : [[item.name]]</font></div> -->
                                  <!-- <div third><font size="2pt">Tingkat Urgensi : </font><font color="black" size="2pt">Penting</font></div> -->
                                </paper-item-body>

                                <paper-item-body style="width: 115px; text-align: center;">
                                  <div><font color="#f44336" size="4pt">[[item.priority]]</font></div>
                                </paper-item-body>
                        
                                <paper-item-body two-line style="width: 200px; text-align: center;">
                                    <div><font color="black" size="4pt">[[item.date]]</font></div>
                                </paper-item-body>

                            </paper-item>
                        </template>
                      </iron-list>
                    </div>

                    <div>
                        <paper-item role="listitem" style="padding-bottom: 8px;">
                    
                            <paper-item-body three-line style="width: 250px; text-align: center; margin-right: 72px;">
                              <div><font size="4pt" style="text-align: center;">Tema</font></div>
                              <!-- <div secondary><font color="black" size="2pt">PIC : [[item.name]]</font></div> -->
                              <!-- <div third><font size="2pt">Tingkat Urgensi : </font><font color="black" size="2pt">Penting</font></div> -->
                            </paper-item-body>

                            <paper-item-body two-line style="width: 150px; text-align: center;">
                                <div><font size="4pt">Tanggal</font></div>
                              </paper-item-body>
                        </paper-item>
                      <iron-list id="listDataIssue" items="[[datanarasi]]" as="item" on-click="onItemSelected" selection-enabled>
                        <template>
                            <paper-item id="itemIsu" value="[[item]]" role="listitem" style="padding-bottom: 8px;">
                                <paper-item-body>
                                  <div class="circle" style="margin-right: 16px; width: 50px; height: 50px;"></div>
                                </paper-item-body>
                        
                                <paper-item-body three-line style="width: 200px;">
                                  <div><font color="black" size="4pt">[[item.name]]</font></div>
                                  <!-- <div secondary><font color="black" size="2pt">PIC : [[item.name]]</font></div> -->
                                  <!-- <div third><font size="2pt">Tingkat Urgensi : </font><font color="black" size="2pt">Penting</font></div> -->
                                </paper-item-body>
                        
                                <paper-icon-item style="width: 260px; text-align: center;">
                                    <div><font color="black" size="4pt">[[item.publish]]</font></div>
                                </paper-icon-item>
                            </paper-item>
                        </template>
                      </iron-list>
                    </div>
                </iron-pages>
            </div>
        </div>

        <div class="container flex">
          <div style="margin: 0em; width: 350px;">
              <google-chart
                type="pie"
                data="{{datachart}}">
              </google-chart>
          </div>
          <div class="flexchild">
            <dom-bind>
              <template>
                <!-- <iron-ajax url="contacts.json" handle-as="json" last-response="{{users}}" auto></iron-ajax> -->
                <iron-ajax url="sumberdaya.json" last-response="{{datasumber}}" auto></iron-ajax>
      
                <font size="48px" style="padding-top: 48px;">Manajemen Sumberdaya</font>
      
                <vaadin-grid theme="row-dividers" items="[[datasumber]]" style="padding-left: 16px;" column-reordering-allowed multi-sort>
            
                  <vaadin-grid-selection-column auto-select frozen> </vaadin-grid-selection-column>
            
                  <vaadin-grid-column width="16em">
                    <template class="header">
                      <vaadin-grid-sorter path="name">Direktorat</vaadin-grid-sorter>
                    </template>
                    <template>[[item.name]]</template>
                  </vaadin-grid-column>
            
                  <vaadin-grid-column width="8em" style="text-align: center;">
                    <template class="header">
                      <vaadin-grid-sorter path="totalIssue" style="background: white;">Isu</vaadin-grid-sorter>
                    </template>
                    <template><p style="background: white; padding-left: 20px;">[[item.issue]]</p></template>
                  </vaadin-grid-column>           
            
                  <vaadin-grid-column width="10em" flex-grow="2">
                      <template class="header">
                        <vaadin-grid-sorter path="percentage">Tv</vaadin-grid-sorter>
                      </template>
                      <template>
                          <p style="background: white; padding-left: 20px;">2</p>
                      </template>
                  </vaadin-grid-column>

                  <vaadin-grid-column width="10em" flex-grow="2">
                      <template class="header">
                        <vaadin-grid-sorter path="percentage">Radio</vaadin-grid-sorter>
                      </template>
                      <template>
                          <p style="background: white; padding-left: 20px;">4</p>
                      </template>
                  </vaadin-grid-column>

                  <vaadin-grid-column width="10em" flex-grow="2">
                      <template class="header">
                        <vaadin-grid-sorter path="percentage">Cetak</vaadin-grid-sorter>
                      </template>
                      <template>
                          <p style="background: white; padding-left: 20px;">5</p>
                      </template>
                  </vaadin-grid-column>

                  <vaadin-grid-column width="10em" flex-grow="2">
                      <template class="header">
                        <vaadin-grid-sorter path="percentage">Online</vaadin-grid-sorter>
                      </template>
                      <template>
                          <p style="background: white; padding-left: 20px;">8</p>
                      </template>
                  </vaadin-grid-column>

                  <vaadin-grid-column width="10em" flex-grow="2">
                      <template class="header">
                        <vaadin-grid-sorter path="percentage">Luar Ruang</vaadin-grid-sorter>
                      </template>
                      <template>
                          <p style="background: white; padding-left: 20px;">6</p>
                      </template>
                  </vaadin-grid-column>
                </vaadin-grid>
              </template>
            </dom-bind>
          </div>
        </div>  
    </div>
  </template>

  <script>
    function select(n) {
        let pages = document.querySelector('my-home').$.pages;
        pages.select(n);
    }

    class HomeView extends Polymer.Element {
      static get is() { return 'my-home'; }
      
      static get properties(){
        
        return{
          percentValue: {
            type: String,
            value: '0.07'
          },

          textPercent: {
            type: String,
            value: '7%'
          },

          percentIsu: {
            type: String,
            value: '0.3'
          },

          datachart: {
            type: Array,
            value: [['Instansi', 'Persentase'], ['UI', 11], ['Setditjen',11],['KP', 13],['PPI', 26],['PMP', 22],['KK', 17]]
          },

          selected: {
            type: Number,
            notify: true,
            value: 0,
            observer: '_newPageSelected',
          },

          // A member function of your src element
          _newPageSelected (newVal, oldVal) {
          let pages = this.$.pages.children;
          pages[newVal].style.opacity = 0;
          setTimeout(
            ((node) => {
            node.style.opacity = 1;
            }).bind(this, pages[newVal]), 0);
          
          this.set('transitionReady', false); // Make sure you add this to properties as well
          setTimeout(
            (() => {
            this.set('transitionReady', true);
            }).bind(this), 5000);
          }

        }
      }

      // intent(){
      //   window.location = '/login'
      // }

      onItemSelected(){
        this.$.toastAlert.show(this.$.listData.selectedItem.name);
      }

      _newPageSelected (newVal, oldVal) {
        let pages = this.$.pages.children;

        // Run the animation on the newly selected page
        if (!pages[newVal].className.includes('animated')) {
          pages[newVal].className += ' animated';
        }

        if (typeof oldVal !== 'undefined') {
          // Stop the animation of hidden pages
          pages[oldVal].className = pages[oldVal].className.split(' animated').join('');
        }
      }
    }
    
    window.customElements.define(HomeView.is, HomeView);
  </script>
</dom-module>
