<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-login">
    <template>
        <style include="shared-styles">
            @media screen and (max-width: 640px) {
				body {
				position: absolute;
				float: center;
				padding-left: 15px;
				padding-right: 15px;
				width: 100%;
				margin-left: 0;
				}				
            }
            ::-webkit-scrollbar-thumb{
                background: #dcdcdc;
                width: 10px;
                border-radius: 7px;
            }

            ::-webkit-scrollbar-thumb:hover{
                background: #adadad;
                width: 10px;
                border-radius: 20px;
            }

            ::-webkit-scrollbar{
                display: block;
            }

            :host {
                display: block;
                overflow-y: auto;
                padding: 10px;
                padding-left: 16px;
            }

            paper-button {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: normal;
                font-size: 14px;
                -webkit-font-smoothing: antialiased;
            }

            paper-button.indigo {
                background-color: var(--paper-indigo-500);
                color: white;
                margin-top: 32px;
                width: 300px;
            }
            paper-button.indigo:hover {
                background-color: var(--paper-indigo-400);
            }

            paper-input{
                margin-left: 50%; 
                transform: translateX(-50%);
            }

            .flex-vertical {
                @apply --layout-vertical;
                height: wrap;
                margin-bottom: 16px;
                @apply --layout-center-justified;
            }
            .flexchild-vertical {
                @apply --layout-flex;
            }
        </style>
        <div class="card" style="width: 400px; padding: 16px; margin-left: 50%; transform: translateX(-50%)">
            <div class="container flex-vertical" style="text-align: center;">
                <div>
                    <h1 style="font-weight: 400;">Log in</h1>
                    <p style="font-weight: 200;">to continue</p>
                </div>
                <div>
                    <paper-input label="Username" id="textUsername" style="width: 300px;">
                        <iron-icon icon="icons:perm-identity" slot="prefix"></iron-icon>
                    </paper-input>
                </div>
                <div>
                    <paper-input label="Password" id="textPassword" type="password" style="width: 300px;">
                        <iron-icon icon="icons:lock-open" slot="prefix"></iron-icon>
                    </paper-input>
                </div>
                <div>
                    <paper-button class="indigo" on-click="onLogin" raised>Submit</paper-button>
                </div>
            </div>
        </div>
    </template>

    <script>
        class Login extends Polymer.Element {
            static get is() { return 'my-login'; }
            onLogin(){
                window.location = "/home";
            }
        }
    
        window.customElements.define(Login.is, Login);
    </script>
</dom-module>