<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      @media screen and (max-width: 640px) {
				body {
				position: absolute;
				float: center;
				padding-left: 15px;
				padding-right: 15px;
				width: 100%;
				margin-left: 0;
				}				
      }
      ::-webkit-scrollbar-thumb{
        background: #dcdcdc;
        width: 10px;
        border-radius: 7px;
      }

      ::-webkit-scrollbar-thumb:hover{
        background: #adadad;
        width: 10px;
        border-radius: 20px;
      }

      ::-webkit-scrollbar{
        display: block;
      }

      :host {
        display: block;
        overflow-y: auto;
        padding: 10px;
        padding-left: 16px;
      }

      .flex {
         @apply --layout-horizontal;
        display: flex;
        justify-content: left; /* justify-content: center; */
        flex-wrap: wrap;    
      }

      .flexchild {
        @apply --layout-flex;
        margin-right: 32px;
      }

      paper-dropdown-menu, paper-listbox {
        width: 250px;
      }
      paper-dropdown-menu {
        margin: auto;
        display: block;
      }

      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        margin-top: 32px;
        margin-left: 90%;
      }
      paper-button.indigo:hover {
        background-color: var(--paper-indigo-400);
      }
    </style>

    <div class="card" style="max-width: 550px; padding: 64px; margin-left: 50%; transform: translateX(-50%)">
        <h1 style="text-align: center; font-weight: 400;">Input Kegiatan Diseminasi</h1>
        <paper-input label="Isu" ></paper-input>
        <paper-input label="Keterangan" ></paper-input>
        <div class="container flex">
          <div>
              <vaadin-dropdown-menu label="Kategori" placeholder="Kategori">
                  <template>
                    <vaadin-list-box>
                      <vaadin-item>Program Prioritas</vaadin-item>
                      <vaadin-item>Isu Tematik</vaadin-item>
                      <vaadin-item>Narasi Tunggal</vaadin-item>
                    </vaadin-list-box>
                  </template>
              </vaadin-dropdown-menu>
          </div>
          <div style="margin-left: 16px;">
              <vaadin-dropdown-menu label="Pelaksana" placeholder="Pelaksana">
                  <template>
                    <vaadin-list-box>
                      <vaadin-item>Sekretaritat Ditjen</vaadin-item>
                      <vaadin-item>Direktorat Komunikasi Publik (Kompub)</vaadin-item>
                      <vaadin-item>Direktorat Pengolahan dan Penyediaan Informasi (PPI)</vaadin-item>
                      <vaadin-item>Direktorat Pengelolaan Media Publik (PMP)</vaadin-item>
                      <vaadin-item>Direktorat Kemitraan Komunikasi (KK)</vaadin-item>
                      <vaadin-item>Direktorat Layanan Informasi Internasional (LII)</vaadin-item>
                    </vaadin-list-box>
                  </template>
              </vaadin-dropdown-menu>
          </div>
        </div>
        <vaadin-dropdown-menu label="Kanal" placeholder="Kanal" style="width: 100%;">
            <template>
              <vaadin-list-box>
                <vaadin-item>Channel</vaadin-item>
                <vaadin-item>Platform</vaadin-item>
                <vaadin-item>Konten</vaadin-item>
              </vaadin-list-box>
            </template>
        </vaadin-dropdown-menu>
        <paper-button raised class="indigo">Submit</paper-button>
    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
